<div style="text-align: center">
  <mat-toolbar color="primary">Local Weather</mat-toolbar>
  <div>Your city, your forecast, right now!</div>
  <app-city-search (searchEvent)="doSearch($event)"></app-city-search>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fvFlex></div>
    <div>
      <mat-card style="width: 300px; margin: 20px auto;">
        <h2>Current weather</h2>
        <app-current-weather [current]="weather"></app-current-weather>
      </mat-card>
    </div>
    <div fvFlex></div>
  </div>
</div>
